<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.token.mapper.RoleMapper">
    <select id="getByRolesUserName" resultType="java.lang.String">
        select role_name from user as a
        right join user_role as b on a.id = b.user_id
        right join role as c on b.role_id = c.id
        where user_name = #{userName}
        and c.status = 0
    </select>
    <insert id="insertUserRole">
        insert into user_role(user_id,role_id) value(#{userId},#{roleId})
    </insert>
</mapper>